<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="cuanto-no-llueve" routerLinkActive="active">¿Hace cuanto que no llueve?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="estaciones-sequia">¿Qué estaciones están en sequía?</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="estaciones-llovio">¿En qué estaciones llovió mucho?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="zonas-sequia">¿Qué zonas están en sequía?</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="zonas-llovio">¿En qué zonas llovió mucho?</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="area-en-sequia">¿Cuánta área está en sequía?</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="comparacion-periodos">Comparación de sequías entre dos períodos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="evolucion-periodos">Evolución de sequías entre dos períodos</a>
    </li>
</ul>